<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Drew Hayward</title>
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) }}">
    </head>
    <body>
        <h1>Drew Hayward</h1>
        <main class="section">
            <div class="base_container">
                {% block content %} {% endblock content %}
            </div>
        </main>
        <footer>
            <p>© 2025 Drew Hayward</p>
        </footer>
    </body>
</html>
